@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Roboto:wght@400;500;700&display=swap");

:root {
	--ff-body: "Roboto", Arial, Helvetica, sans-serif;
	--ff-accent: "DM Serif Display", Arial, Helvetica, sans-serif;
}

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* Heading text should have less line height */
h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.15;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* Base Styles */
body {
	font-family: var(--ff-body);
	font-weight: 400;
	font-size: var(--fs-300, 1rem);
	background-color: hsla(0, 0%, 100%, 1);
	color: hsla(0, 0%, 29%, 1);
}

a:link,
a:visited {
	text-decoration: none;
	display: inline-block;
	color: inherit;
}

/* Utilities */
.flow-content > * + * {
	--spacer: 1rem;
	margin-top: var(--spacer);
}

.container {
	width: 90%;
	margin: 0 auto;
}

/* Typography */
.logo {
	font-family: var(--ff-accent);
	font-weight: 400;
	font-size: 2.25rem;
}

/* Header - Nav */
.header {
}

.header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1em 0;
}

.navbar {
	display: none;
}

.navbar__list {
	list-style: none;
	display: flex;
	gap: 2em;
}

.navbar__list a {
	font-size: 1.125rem;
	font-weight: 500;
	position: relative;
	padding: 0 0.5rem;
}

.navbar__list a::after {
	content: "";
	position: absolute;
	width: 0;
	height: 4px;
	margin: 0 auto;
	left: 0;
	right: 0;
	bottom: -0.25rem;
	border-radius: 150vw;
	background-color: hsla(0, 0%, 29%, 1);
	transition: all 0.3s;
}

.navbar__list a:hover::after {
	width: 100%;
}

.navbar__action {
	display: flex;
	gap: 1em;
}

.navbar__action button {
	border: none;
	background: none;
	transition: all 0.3s;
}

.navbar__action button:hover,
.navbar__action button:focus {
	transform: scale(1.2) rotate(-10deg);
}

.navbar__action button img {
	min-height: 1.5rem;
}

@media screen and (min-width: 45em) {
	.navbar {
		display: flex;
		align-items: center;
		gap: 2em;
	}

	.header__hamburger {
		display: none;
	}
}

@media screen and (min-width: 55em) {
	.header__logo {
		flex: 2.5;
	}

	.navbar {
		flex: 6;
		justify-content: space-between;
	}

	.navbar__list {
		gap: 3em;
	}
}

/* Header - Hero */
.hero {
	padding: 2em 0;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(2, minmax(150px, 1fr));
	width: 90%;
	margin-left: auto;
}

.hero img {
	grid-row: 1/-1;
	grid-column: 2/-1;
	height: 100%;
}

.hero__content {
	grid-row: 1/-1;
	grid-column: 1/4;
	align-self: center;

	background-color: hsla(0, 0%, 100%, 0.78);
	backdrop-filter: blur(30px);
}

.hero__content h1 {
	font-size: 1.875rem;
	font-family: var(--ff-accent);
}

.hero__content p {
	font-size: 0.71875rem;
}

@media screen and (min-width: 55em) {
	.hero__content h1 {
		font-size: 4rem;
	}

	.hero__content p {
		font-size: 1.5rem;
	}
}
