@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Roboto:wght@400;500;700&display=swap");

:root {
	--ff-body: "Roboto", Arial, Helvetica, sans-serif;
	--ff-accent: "DM Serif Display", Arial, Helvetica, sans-serif;
}

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* Heading text should have less line height */
h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.15;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* Base Styles */
body {
	font-family: var(--ff-body);
	font-weight: 400;
	font-size: var(--fs-300, 1rem);
	background-color: hsla(0, 0%, 100%, 1);
	color: hsla(0, 0%, 29%, 1);
	position: relative;
}

a:link,
a:visited {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}

ul[role="list"] a {
	position: relative;
}

ul[role="list"] a::after {
	content: "";
	position: absolute;
	height: 3px;
	border-radius: 10px;
	width: 0;
	left: 0;
	bottom: 0;
	transition: all 0.3s;
	background: #fff;
}

ul[role="list"].navbar-list a::after {
	background: hsla(0, 0%, 29%, 1);
}

ul[role="list"] a:hover::after {
	width: 100%;
}

/* Mobile-Nav */
.mobile-nav {
	position: absolute;
	inset: 0;
	z-index: 99;
	background: #000;
	color: #fff;
	transform: translateX(100%) scale(0.8);
	transition: all 0.3s;
}

.mobile-nav.open {
	transform: translateX(0) scale(1);
}

.mobile-nav-head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	margin: 0 auto;
	padding: 1em 0;
}

.mobile-nav-head img {
	background: #fff;
	cursor: pointer;
}

.mobile-nav-body {
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 3em;
}

.mobile-nav-list {
	margin: 0;
	padding: 0;
}

.mobile-nav-list li {
	margin: 1.5em 0;
}

.mobile-nav-list a {
	font-size: 1.25rem;
}

/* Header */
.header-container {
	max-width: 75em;
	width: 90%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1em 0;
}

.header-logo {
	display: flex;
}

.header-logo a,
.logo {
	text-transform: uppercase;
	font-size: 2.25rem;
	font-family: var(--ff-accent);
	font-weight: 400;
}

/* Navbar */
.navbar {
	display: none;
}

.navbar-list {
	padding: 0;
	margin: 0;
}

.navbar-actions {
	display: flex;
	gap: 1em;
}

.navbar-actions button {
	cursor: pointer;
	background: none;
	border: none;
	transition: all 0.3s;
}

.navbar-actions button:hover,
.navbar-actions button:focus {
	transform: scale(1.2) rotate(-10deg);
}

@media screen and (min-width: 45em) {
	.mobile-nav,
	.header-hamburger {
		display: none;
	}

	.navbar {
		display: flex;
		align-items: center;
		gap: 3em;
	}

	.navbar-list {
		display: flex;
		gap: 2em;
	}

	.navbar-list a {
		font-size: 1.125rem;
		font-weight: 500;
	}
}

@media screen and (min-width: 65em) {
	.header-logo {
		flex: 2.25;
	}

	.navbar {
		flex: 4;
		justify-content: space-between;
	}
}
