@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Roboto:wght@400;500;700&display=swap');

:root {
  /* Font Families */
  --ff-base: 'Roboto', Arial, Helvetica, sans-serif;
  --ff-serif: 'DM Serif Display', Arial, Helvetica, sans-serif;

  /* Font Sizes */
  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.25rem;
  --fs-700: 1.5rem;
  --fs-800: 1.875rem;
  --fs-900: 2rem;
  --fs-large: 2.25rem;
  --fs-xlarge: 2.5rem;

  /* Colors */
  --clr-accent: 27 52% 96%;
  --clr-light: 0 0% 100%;
  --clr-dark: 0 0% 30%;
  --clr-gray: 0 0% 45%;
  --clr-black: 0 0% 0%;
  --clr-white: 0 0% 100%;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Set minimum line-height for heading elements */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.15;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Content thats not visible but read by screen-readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* General Styling */
body {
  font-family: var(--ff-base);
  font-size: var(--fs-400);
  font-weight: 400;
}

/* Utlities */
.container {
  max-width: 80em;
  margin-inline: auto;
  padding-inline: 1rem;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.flow--small {
  --flow-space: 0.75rem;
}

/* Colors */
.bg-black {
  background-color: hsl(var(--clr-black));
}

.bg-white {
  background-color: hsl(var(--clr-white));
}

.bg-accent {
  background-color: hsl(var(--clr-accent));
}

.bg-light {
  background-color: hsl(var(--clr-light));
}

.bg-dark {
  background-color: hsl(var(--clr-dark));
}

.bg-gray {
  background-color: hsl(var(--clr-gray));
}

.text-black {
  color: hsl(var(--clr-black));
}

.text-white {
  color: hsl(var(--clr-white));
}

.text-accent {
  color: hsl(var(--clr-accent));
}

.text-light {
  color: hsl(var(--clr-light));
}

.text-dark {
  color: hsl(var(--clr-dark));
}

.text-gray {
  color: hsl(var(--clr-gray));
}

/* Typography */
.ff-base {
  font-family: var(--ff-base);
}

.ff-serif {
  font-family: var(--ff-serif);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-large {
  font-size: var(--fs-large);
}

.fs-xlarge {
  font-size: var(--fs-xlarge);
}

.fw-400 {
  font-weight: 400;
}

.fw-700 {
  font-weight: 700;
}

/* Navbar */

.navbar-menu-toggle {
  display: none;
}

.header {
  align-items: center;
  justify-content: space-between;
  padding-block: 1rem;
}

.header-logo a {
  display: inline-block;
  text-decoration: none;
}

.navbar {
  flex: 1 0;
  align-items: center;
}

.primary-navigation {
  --gap: 2rem;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  align-items: center;
}

.primary-navigation a {
  display: inline-block;
  text-decoration: none;
}

.primary-navigation a:hover {
  color: hsl(var(--clr-gray));
}

.navbar-right {
  flex-shrink: 0;
  align-items: center;
}

.navbar-right button {
  flex-shrink: 0;
  cursor: pointer;
  background: none;
  border: none;
}

@media (max-width: 40em) {
  .navbar-menu-toggle {
    cursor: pointer;
    position: relative;
    z-index: 9999;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    aspect-ratio: 1;
    border: none;
    background: transparent;
    background-image: url('./Assets/icon-hamburger.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  .navbar {
    position: fixed;
    background: hsl(var(--clr-accent) / 0.9);
    backdrop-filter: blur(1rem);
    inset: 0 0 0 60%;
    flex-direction: column;
    padding-top: max(6rem, 10vh);
    box-shadow: 1rem 1rem 2rem hsl(var(--clr-black) / 0.44);
    transform: translateX(100%);
    transition: all 0.3s ease-in-out;
  }

  .navbar[data-visible='true'] {
    transform: translateX(0);
  }

  .primary-navigation {
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .navbar-right {
    --gap: clamp(0.75rem, 4vw, 1.5rem);
  }
}
